<div class="maintance-page">
  <div class="maintance-wrapper">
    <img src="assets/images/logo_black.svg" alt="PowerX Logo" width="200" />
    <div class="title">
      <span>The site is currently</span><br /><span>down for maintenance!</span>
    </div>
    <div class="description">We apologize for any inconveniences caused.<br />Check back soon!</div>
    <div class="support-message">
      You can contact us at
      <a class="support-link" href="mailto:support@powerx.co">support&#64;powerx.co</a>
    </div>
  </div>
</div>
