@use "assets/common/sass/breakpoint" as *;

.auth-wrapper {
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--white);
}

.auth-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  letter-spacing: 0.1px;
}

.auth-sub-title {
  margin-bottom: 2rem;
  color: var(--text-light-gray);
  font-size: 14px;
  font-weight: 500;
}

.auth-footer-text {
  color: var(--text-light-gray);
  font-size: 14px;
  font-weight: 500;
}

.auth-email {
  color: var(--primary);
  font-weight: 600;
}

.form-control {
  position: relative;
  margin-bottom: 1.5rem;

  &-text-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    height: 40px;
    border: 1px solid var(--border-grey);
    border-radius: 0.25rem;
  }

  &-input {
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    line-height: 18px;
  }

  &-label {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 14px;
    font-weight: 500;
  }
}

.submit-button,
.submit-link {
  margin-top: 0.5rem;
  width: 100%;
  text-align: center;
}

.submit-link {
  display: block;
}

.logo-wrapper {
  margin-top: 2rem;
}

.logo {
  margin: 0 auto;
}

.divider {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.alert {
  position: absolute;
  bottom: -16px;
  margin: 0;
}

@media (min-width: $mobile-breakpoint) {
  .auth-wrapper {
    width: 450px;
    padding: 2rem 3rem;
  }
}

@media (min-width: $desktop-breakpoint) {
  .logo-wrapper {
    display: none;
  }

  .auth-wrapper {
    padding: 3rem;
  }
}
