<div class="auth-wrapper">
  @if (isRequestLinkSig()) {
    <h1 class="auth-title">Reset Link Sent</h1>
    <p class="auth-sub-title">
      If there is an active account associated with the email
      <span class="auth-email">{{ emailControl.value }}</span
      >, you will receive a link to reset your password.
    </p>
    <p class="auth-sub-title">
      If you have not received this email within a few minutes, please check your spam folder.
    </p>
    <a [routerLink]="['/auth', 'login']" class="button submit-link link">
      @if (isSubmittingSig()) {
        <mat-spinner class="loader white-fill" [diameter]="18"></mat-spinner>
      } @else {
        <span>Login</span>
      }
    </a>
  } @else {
    <h1 class="auth-title">Forgot Password</h1>
    <p class="auth-sub-title">We will send a reset password link to your email.</p>
    <form (submit)="$event.preventDefault()" (keyup.enter)="onSubmit()">
      <div class="form-control">
        <label class="form-control-label">Email</label>
        <div class="form-control-text-wrapper">
          <input
            id="email"
            type="text"
            class="form-control-input"
            [formControl]="emailControl"
            placeholder="Enter your email"
          />
        </div>
        @if (emailControl?.invalid && (emailControl.dirty || emailControl.touched)) {
          <div class="alert">
            {{ getEmailError() }}
          </div>
        }
      </div>
    </form>
    <button
      type="button"
      class="button submit-button"
      (click)="onSubmit()"
      [disabled]="emailControl.invalid || isSubmittingSig()"
    >
      @if (isSubmittingSig()) {
        <mat-spinner class="loader white-fill" [diameter]="18"></mat-spinner>
      } @else {
        <span>Send Link</span>
      }
    </button>
  }
  <div class="divider"></div>
  <div class="auth-footer-text">
    Return to&nbsp;<a class="auth-email link" [routerLink]="['/auth', 'login']">Log in</a>
  </div>
  <div class="logo-wrapper">
    <img class="logo" src="assets/images/x-logo.png" alt="PowerX Logo" width="140" />
  </div>
</div>
