<div class="widget-header">
  <div class="widget-title">Grouped Zone Temperatures Graph</div>
  <div class="widget-selectors">
    <mat-form-field
      class="form-control-mode"
      appearance="outline"
      [class.is-open]="selectModeMenu.panelOpen"
    >
      <mat-label>Select Zone</mat-label>
      <mat-select
        #selectModeMenu
        [ngModel]="selectedZoneSig()"
        panelClass="warning-select"
        (ngModelChange)="changeSelectedZone($event)"
        shouldLabelFloat="true"
      >
        <mat-select-trigger class="mat-select-trigger">
          <svg class="icon-temp">
            <use href="assets/images/icons/sprite.svg#icon-thermometer"></use>
          </svg>
          <span class="selected-zone-label">{{ selectedZoneSig()?.name || null }}</span>
        </mat-select-trigger>
        @for (zone of zoneListSig(); track zone.id) {
          <mat-option [value]="zone" class="mat-select-option">
            {{ zone.name }}
          </mat-option>
        }
      </mat-select>
      <mat-icon class="icon-arrow" matSuffix>expand_less</mat-icon>
    </mat-form-field>
    <app-datepicker
      [startRange]="initialRange.start"
      [endRange]="initialRange.end"
      [timezone]="timezoneSig()"
      (dateEvent)="changeRange($event)"
      [isDisabled]="isLoadingSig() || isErrorSig()"
    ></app-datepicker>
    <button
      #trigger="matMenuTrigger"
      class="filter-button"
      [matMenuTriggerFor]="filterMenu"
      [class.is-open]="trigger.menuOpen"
      [disabled]="isLoadingSig() || !zoneTemperatureListSig().length || isErrorSig()"
    >
      <mat-icon>tune</mat-icon>
      @if (isLoadingSig()) {
        <mat-spinner class="loader" diameter="20"></mat-spinner>
      } @else {
        @if (innerWidthSig() >= 576) {
          <span class="filter-title">Filter Graph</span>
        }
      }
      <mat-icon class="icon-arrow">expand_less</mat-icon>
    </button>
    <mat-menu #filterMenu="matMenu" xPosition="before">
      <div class="filter-menu-header" (click)="$event.stopPropagation()">
        <div class="filter-search-bar">
          <label class="search-label">
            <input
              class="search-input"
              type="text"
              name="search"
              id="search"
              placeholder="Search"
              [ngModel]="searchQuerySig()"
              (ngModelChange)="changeSearchQuery($event)"
            />
            <div class="input-action">
              @if (searchQuerySig()) {
                <button class="btn-clear-input" type="button" (click)="changeSearchQuery('')">
                  <svg class="input-icon">
                    <use href="assets/images/icons/sprite.svg#icon-x"></use>
                  </svg>
                </button>
              } @else {
                <svg class="input-icon">
                  <use href="assets/images/icons/sprite.svg#icon-search"></use>
                </svg>
              }
            </div>
          </label>
        </div>
        <div class="filter-btn-wrapper">
          <button class="btn-text primary clear" type="button" (click)="clearFilter()">
            Clear Filter
          </button>
          <button class="btn-text primary clear" type="button" (click)="selectAll()">
            Select All
          </button>
        </div>
      </div>
      <ul class="mat-menu-list list" (click)="$event.stopPropagation()">
        @for (zone of filteredChartZoneTempListSig(); track zone.data.id) {
          <li class="mat-menu-item">
            <mat-checkbox
              class="mat-menu-checkbox"
              [ngModel]="zone.selected"
              [color]="'primary'"
              (ngModelChange)="updateSelectedSet($event, zone.data.id)"
            >
              {{ zone.data.name }}
            </mat-checkbox>
          </li>
        }
      </ul>
    </mat-menu>
  </div>
</div>
@if (isLoadingSig()) {
  <div class="widget-no-data">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  @if (isErrorSig()) {
    <div class="widget-no-data">Error Getting Data</div>
  } @else {
    @if (selectedZoneSig()) {
      @if (chart && !isNoDataSig()) {
        <div class="widget-chart" [chart]="chart"></div>
      }
      @if (isNoDataSig()) {
        <div class="widget-no-data">No Data</div>
      }
    } @else {
      <div class="widget-no-zone">
        <svg class="icon-click">
          <use href="assets/images/icons/sprite.svg#icon-one-finger"></use>
        </svg>
        Select a zone to get started
      </div>
    }
  }
}
