<div class="auth-wrapper">
  <h1 class="auth-title">Change Password</h1>
  <p class="auth-sub-title">In order to protect your account your password must be:</p>
  <ul class="auth-sub-title-list">
    <li class="auth-sub-title-list-item">&#9679; At least 8 characters</li>
    <li class="auth-sub-title-list-item">&#9679; Contain a special symbol</li>
    <li class="auth-sub-title-list-item">&#9679; Contain a number</li>
  </ul>
  <form [formGroup]="form" (keyup.enter)="onSubmit()">
    <div class="form-control">
      <label class="form-control-label">New Password</label>
      <div class="form-control-pass-wrapper">
        <input
          id="password"
          [type]="isShowPass ? 'text' : 'password'"
          class="form-control-input"
          formControlName="password"
          placeholder="Enter new password"
          autocomplete="off"
        />
        <button type="button" class="eye-button" (click)="isShowPass = !isShowPass">
          <ng-container *ngIf="isShowPass; then eye_opened; else eye_blocked"></ng-container>
        </button>
      </div>
      @if (
        form.controls.password?.invalid &&
        (form.controls.password.dirty || form.controls.password.touched)
      ) {
        <div class="alert">
          {{ getPasswordError() }}
        </div>
      }
    </div>
    <div class="form-control">
      <label class="form-control-label">Confirm Password</label>
      <div class="form-control-pass-wrapper">
        <input
          id="confirm_password"
          [type]="isShowConfirmPass ? 'text' : 'password'"
          class="form-control-input"
          formControlName="confirm_pass"
          placeholder="Confirm new password"
          autocomplete="off"
        />
        <button type="button" class="eye-button" (click)="isShowConfirmPass = !isShowConfirmPass">
          <ng-container *ngIf="isShowConfirmPass; then eye_opened; else eye_blocked"></ng-container>
        </button>
      </div>

      @if (
        form.controls.password?.valid &&
        (form.controls.confirm_pass.dirty || form.controls.confirm_pass.touched) &&
        form.hasError("notMatch")
      ) {
        <div class="alert">Passwords must match.</div>
      }
    </div>
  </form>
  <button
    type="button"
    class="button submit-button"
    (click)="onSubmit()"
    [disabled]="form.invalid || isSubmittingSig()"
  >
    @if (isSubmittingSig()) {
      <mat-spinner class="loader white-fill" [diameter]="18"></mat-spinner>
    } @else {
      <span>Change Password</span>
    }
  </button>
  <div class="divider"></div>
  <div class="auth-footer-text">
    Return to&nbsp;<a class="auth-email link" [routerLink]="['/auth', 'login']">Log in</a>
  </div>
  <div class="logo-wrapper">
    <img class="logo" src="assets/images/x-logo.png" alt="PowerX Logo" width="140" />
  </div>
</div>

<ng-template #eye_blocked>
  <svg class="icon">
    <use href="assets/images/icons/sprite.svg#icon-eye-blocked"></use>
  </svg>
</ng-template>
<ng-template #eye_opened>
  <svg class="icon">
    <use href="assets/images/icons/sprite.svg#icon-eye"></use>
  </svg>
</ng-template>
